pyrogram
TgCrypto
asyncio
pyyaml
python-dotenv
requests
aiohttp
aiofiles
pyaes
PySocks
motor
dnspython
speedtest-cli
wget
apscheduler
yt_dlp
cachetools==5.1.0
asyncio
ujson
pymongo[srv]
cachetools
pyromod
